<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
  </head>
  <style>
    a {
      display: block;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(13, 28, 232);
      height: 20%;
      width: 50%;
      margin-top: 1%;
      font-size: 100px;
      text-align: center;
    }
  </style>
  <body>
    <h1>{{Username}} {{Password}}</h1>
    <a type="a" href="/templates/board.html">Play!</a
    ><a type="a" href="/templates/login.html">Login!</a
    ><a type="a" href="/templates/register.html">Register!</a> ><a
      type="a"
      onclick="alert('Hello world!')"
      >Leaderboard!</a
    >
  </body>
</html>
